* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

#chatHeader {
    background-color: #72b7e1;
    width: 100%;
    text-transform: uppercase;
    color: #000;
    padding: 7px 10px;

    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#closeChat {
    transform: rotate(45deg);
}

#closeChat span {
    font-size: 24px;
    cursor: pointer;
}

#chatWindow {
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 0 3pc #000;
    -moz-box-shadow: 0 0 3pc #000;
    box-shadow: 0 0 3pc #000;
}

#chatMsg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 191px;
    height: 34px;
    resize: none;
}

#inputWrapper {
    height: 70px;
    position: relative;
    background: rgb(218, 217, 219);
}

img#userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    left: 5px;
    top: 50%;
}

#chatMsg {
    position: absolute;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    outline: none;
    border-radius: 5px;
}

#chatMessages {
    background-color: #f8f8f8;
    overflow-y: auto;
    width: 100%;
    height: 90%;
    padding: 0 10px;
}

#chatMessages li {
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 7px 5px 4px 0;
    /*margin: 5px 0 5px 5px;*/
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

#chatMessages li:before {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
    left: -5px;
    top: -10px;
}

#chatMessages li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#chatMessages li h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#chatMessages li p {
    padding: 5px 0;
    font-size: 12px;
    margin: 0;
    color: #8d8d8d;
}
